{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
<h3>Рекомендации:</h3>
<p class="lead">После того, как вы запишитесь на услуги, пожалуйста, проверьте раздел "Управление записями" и убедитесь, что ваша запись появилась в нём. Вдобавок, вы сможете самостоятельно отменить запись в этом разделе. Не забывайте следить за новостями, где мы будем сообщать на какие дни нельзя записаться и причины такого развития событий. Записи на такие даты будут удаляться без вашего участия! Благодарим, что выбрали нас!</p>
</div>

{% for service in services %}
<h3>{{ service.title }}</h3>
<p>{{ service.description }}</p>
<hr>
{% endfor %}
<button class="btn btn-success" onclick="window.location.href='{% url 'sign_up' %}'">Записаться</button>
{% endblock %}
